body {
    background-image: url("/assets/images/Background.jpg");
    text-align: center;
  }

#mainBox{
    color: #548a63;
    text-align: center;
    padding:30px;
    background: #282633;
    font-size: 30px;
}
#timeRemaining{
    color:#548a63;
}
header{
    color: #e07c5a;
}
form{
    color: #d78a69;
    font-size: 20px;
}